*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    /*background-color: #222;*/
    background-image: url('../static/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    width: 90%;
    max-width: 470px;
    background: rgb(173, 162, 158, 0.2);
    backdrop-filter: blur(4px);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 40px;
    padding: 40px 35px;
    text-align: center;
}

.searchbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.searchbar button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.searchbar button img{
    width: 16px;
}

.weather .weather_summary {
    display: flex;
    align-items: center;
    background: rgb(125, 121, 120, 0.3);
    border-radius: 40px;
    margin-top: 30px;
    padding: 10px 0;
}

.weather .weather_summary .weather_summary_2{
    text-align: left;
}

.weather .weather-icon{
    width: 120px;
    /*margin-top: 30px;*/
}

.weather h1{
    font-size: 40px;
    font-weight: 500;
    /*padding: 2px 0;*/
}

.weather h2{
    font-size: 25px;
    font-weight: 400;
    /*margin-top: -10px;*/
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}

.details .col img{
    width: 40px;
    margin-right: 10px;
}

.details .col .humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}