
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

html{
    background: url('../static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}
/*
body{
    background-image: url('../static/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*/

img {
    max-width: 100%;
    height: auto;
}

.card{
    width: 90%;
    max-width: 500px;
    background: rgb(173, 162, 158, 0.3);
    backdrop-filter: blur(4px);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 50px;
    padding: 40px 35px;
    text-align: center;
    border: 1px solid lightgrey;
}

.searchbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.searchbar button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .searchbar input {
        height: 45px;
        font-size: 14px;
        padding: 10px 20px;
    }
    .searchbar button {
        width: 45px;
        height: 45px;
    }
}

.searchbar button img{
    width: 16px;
}

.weather .weather_summary {
    align-items: center;
    background: rgb(23, 41, 41, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 50px;
    margin-top: 20px;
    /*padding: 20px 10px;*/
    padding: 30px 30px;
}

.weather .weather_summary .row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

@media (max-width:480px){
    .weather .weather_summary .row{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


}

.weather .weather_summary .weather_summary_2{
    text-align: left;
    width: 100%;
}



.weather .weather-icon{
    width: 100px;
    /*margin-top: 30px;*/
}

@media (max-width= 480px){
    .weather .weather-icon {
        width: 70px;
        margin-bottom: 10px;
    }
}

.weather h1{
    font-size: 40px;
    font-weight: 500;
    /*padding: 2px 0;*/
}

.weather h2{
    font-size: 25px;
    font-weight: 400;
    /*margin-top: -10px;*/
}

.weather .weather_summary .description{
    height: 40px;
    align-items: center;
    background: rgb(23, 41, 41);
    border-radius: 50px;
    margin-top: 10px;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
}

.sunset-sunrise{
    width: 100%;
    height: 55px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 41, 41);
    border-radius: 50px;
    align-items: center;
    padding: 0 20px;
}

.sunset-sunrise .col{
    margin: 5px 6%;
    display: flex;
    align-items: center;
}

.sunset-sunrise .col h2{
    font-size: 20px;
    color: rgb(235, 234, 232);
    margin: 10px;
}

.sunset-sunrise .col img{
    width: 30px;
    
}

@media (max-width: 480px) {
    .sunset-sunrise {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
    }
    .sunset-sunrise .col {
        margin: 0;
    }
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}

.details .col img{
    width: 40px;
    margin-right: 10px;
}

.details .col .humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

@media (max-width: 480px) {
    .details {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        margin-top: 20px;
    }
}

.error{
    margin-top: 20px;
    background-color: rgb(23, 41, 41);
    border-radius: 50px;
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.error p{
    font-size: 25px;
    font-weight: 300;
    color: rgb(235, 234, 232);
    text-align: center;
}